<ion-header>
  <ion-toolbar>
    <ion-title>
      Realtime Data Sharing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary" stacked>Nickname</ion-label>
    <ion-input type="text" placeholder="Your Nickname" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-card [disabled]="!isReadyToPublish()" >
    <ion-button class="square" (click)="countUp()">Tap Here</ion-button>
  </ion-card>

</ion-content>
<ion-footer>
    <ion-button [disabled]="!isReadyToPublish()" (click)="clear()" expand="full">Clear</ion-button>
  </ion-footer>